---
import Text from "../atoms/Text.astro";
import IconButton from "../atoms/IconButton.tsx";
import Github from "../../icons/Github.astro";
import Linkedin from "../../icons/Linkedin.astro";
import PDF from "../../icons/PDF.astro";
---

<div class="flex flex-col md:flex-row mt-12 mb-4 items-center gap-6" id="aboutme">
  <picture class="h-40 w-40">
    <img src="/images/profile.jpg" alt="profile" class="rounded-full" />
  </picture>
  <div class="flex flex-col gap-2">
    <Text variant="title" bold>ChuzOP</Text>
    <Text variant="paragraph" light center>
      Un apasionado de la tecnología y la programación
    </Text>
    <div class="flex gap-2 justify-center md:justify-normal mt-2 md:mt-0">
      <IconButton
        client:visible
        text="@ChuzOP"
        color="bg-[#d2d4d7]"
        textColor="text-[#000]"
        href="https://github.com/ChuzOP"
      >
        <Github />
      </IconButton>
      <IconButton client:visible text="@ChuzOP" color="bg-[#0077b5]">
        <Linkedin />
      </IconButton>
      <IconButton client:visible text="CV" color="bg-[#EF4040]" pdf>
        <PDF />
      </IconButton>
    </div>
  </div>
</div>
