---
interface Props {
  variant: "title" | "subtitle" | "paragraph" | "description" | "text";
  bold?: boolean;
  medium?: boolean;
  semibold?: boolean;
  light?: boolean;
  center?: boolean;
  class?: string;
}
const { variant, bold, medium, semibold, light, center, class: extraClass } = Astro.props;
---

<div
  class:list={[
    "text-text",
    {
      "font-bold": bold,
      "font-medium": medium,
      "font-semibold": semibold,
      "font-thin": light,
      "text-4xl leading-10 !text-primary": variant == "title",
      "text-2xl leading-10 !text-secondary": variant === "subtitle",
      "text-xl leading-7": variant === "paragraph",
      "text-lg leading-6": variant === "description",
      "text-base leading-5": variant === "text",
      "text-center": center,
    },
    extraClass
  ]}
>
  <slot />
</div>
