---
import Header from "../components/sections/Header.tsx";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio | ChuzOP</title>
  </head>
  <body class="bg-background relative">
    <Header client:visible />
    <main class="mx-auto max-w-3xl h-auto px-5 my-10 flex flex-col gap-10">
      <slot />
    </main>
    <style is:global>
      html {
        font-family: "Onest", system-ui, sans-serif;
        color: rgb(241, 245, 249);
        scroll-behavior: smooth;
        color-scheme: light dark;
      }
      @font-face {
        font-family: "Onest";
        src: url("/fonts/Onest-Light.ttf") format("truetype");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Onest";
        src: url("/fonts/Onest-Regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Onest";
        src: url("/fonts/Onest-Medium.ttf") format("truetype");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Onest";
        src: url("/fonts/Onest-SemiBold.ttf") format("truetype");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Onest";
        src: url("/fonts/Onest-Bold.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </body>
</html>
